In [13]:
apples = 3 

print(apples)

3

In [15]:
num = 50
s = 'my age %d' % num
 
print(s)

my age 50

In [16]:
names = ['kim', 'park', 'lee']
for name in names:
    print('my name is %s' % name)
 
# % 기호 정수 출력
money = 10000
s2 = 'give me %d won' % money
print(s2)
 
# % 기호 실수 출력
d = 3.141592
print('value %f' % d)

my name is kim
my name is park
my name is lee
give me 10000 won
value 3.141592

In [17]:
print(100%2)

0

print(11 % 5)

In [18]:
print(11 % 5)

1

In [20]:
print(11 // 5)

2

In [21]:
o = 2

In [22]:
o = o + 1

In [26]:
print(o)

3

In [24]:
cnt = 5

In [27]:
cnt = cnt + 1

In [58]:
print(cnt)

6

In [59]:
grade = 3.4

In [61]:
print(type(grade))

<class 'float'>

In [63]:
print('hello')

hello

In [64]:
hello =15

In [65]:
print(hello)

15

In [66]:
print('hello')

hello

In [67]:
number = 1987
movie_title = '1987'

print('number의 자료형')
print(type(number))
print('\n') # 문자열로 \n을 출력하면 줄 바꿈이 됩니다
print('movie_title의 자료형')
print(type(movie_title))

number의 자료형
<class 'int'>


movie_title의 자료형
<class 'str'>

In [69]:
print(movie_title + " 재미없다")

1987 재미없다

NameError: name 'insert' is not defined

In [73]:
print('=' * 10)

==========

In [74]:
my_list = [3,4,5,6,6,7]

In [75]:
print(my_list)

[3, 4, 5, 6, 6, 7]

In [77]:
my_list.pop()

6

In [79]:
print(my_list)

[3, 4, 5, 6]

In [85]:
customer = {
    'id' : ' onyu',
    'name' : '정온유',
    'age' : 40
    
}

print(type(customer))

<class 'dict'>

In [87]:
item_ dict = {}

SyntaxError: invalid syntax (CreatorTemp/ipykernel_22184/3205943365.py, line 1)

In [88]:
print((3 > 5) and (4 > 6) or (5 == 5))

True

In [90]:
apples = 3
bananas = 5


print((apples < bananas))

True

In [92]:
i = 1
while i < 10:
  print('반복문 진행 중...')
  print(f'{i}번째 반복했습니다')
  i = i + 2 # 탈출 조건 만들기

print('\n탈출에 성공하였습니다')
print(f'탈출에 성공했을 때의 i의 값: {i}')

반복문 진행 중...
1번째 반복했습니다
반복문 진행 중...
3번째 반복했습니다
반복문 진행 중...
5번째 반복했습니다
반복문 진행 중...
7번째 반복했습니다
반복문 진행 중...
9번째 반복했습니다

탈출에 성공하였습니다
탈출에 성공했을 때의 i의 값: 11

In [96]:
scores = [90, 70, 85, 90, 100, 95, 80, 95]
total_score = 0

# 과목별 성적의 합계를 구해 전체 성적(total_score)를 구합니다
for in scores:
    total_score = 0

average_score =  # 평균 성적을 구해봅시다
print(average_score)

SyntaxError: invalid syntax (CreatorTemp/ipykernel_22184/1648215149.py, line 5)