In [6]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

In [7]:
browser = webdriver.Chrome()

In [15]:
browser.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%ED%99%98%EC%9C%A8')

TypeError: 'NoneType' object is not subscriptable

In [16]:
pd.read_html(url)[0]

          통화명    매매기준율        전일대비     등락률
0      미국 USD  1425.00  전일대비하락8.00  -0.56%
1  일본 JPY 100   961.28  전일대비하락7.13  -0.74%
2    유럽연합 EUR  1419.02  전일대비하락6.39  -0.45%
3      중국 CNY   194.94  전일대비하락1.02  -0.52%
4      영국 GBP  1633.62  전일대비하락9.60  -0.58%
5      호주 AUD   912.36  전일대비하락2.68  -0.29%
6     캐나다 CAD  1047.68  전일대비하락3.91  -0.37%
7    뉴질랜드 NZD   819.23  전일대비하락5.46  -0.66%

url = ("https://www.google.com/search?q=google&rlz=1C1CHBD_koKR974KR976&source=lnms&tbm=nws&sa=X&ved=2ahUKEwjc7cGg-vz6AhXS7GEKHQwQCSAQ_AUoBHoECAEQBg&biw=767&bih=691&dpr=1.25")

In [21]:
browser.get(url)