### 판다를 사용방법 배우기

In [2]:
import pandas as pd

In [3]:
data = ["A","B","C","D"]
se = pd.Series(data)
se

0    A
1    B
2    C
3    D
dtype: object

In [4]:
se.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
se.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [7]:
#인덱싱
print(se[1])
print(se[3])

B
D

In [8]:
#슬라이싱
print(se[:3])
print(se[:])

0    A
1    B
2    C
dtype: object
0    A
1    B
2    C
3    D
dtype: object

In [9]:
se.index.name ='No.'
se

No.
0    A
1    B
2    C
3    D
dtype: object

In [23]:
se = pd.Series(data, index = ['a','b','c','d'])
print(se)
print(se['a'])

ValueError: Length of values (3) does not match length of index (4)

### DataFrame

In [21]:
import numpy as np

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
column = ['D','E','F']

df = pd.DataFrame(data = data,index = ['A','B','C'],column = column)

TypeError: __init__() got an unexpected keyword argument 'column'

In [29]:
data = {
    'country' : ["kor", "usa",'china','spn'],
    'rank' : [1,2,3,4],
    'grade' : ['A','B','C','D']
    }

df =pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3     spn     4     D

In [30]:
df.country

0      kor
1      usa
2    china
3      spn
Name: country, dtype: object

In [31]:
print(df[['country','grade']])

  country grade
0     kor     A
1     usa     B
2   china     C
3     spn     D

### 행을 가져오기

In [32]:
df.loc[0]

country    kor
rank         1
grade        A
Name: 0, dtype: object

In [34]:
##2개 이상의 행 조회

df.loc[0:2]

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C

In [36]:
df.loc[[0,2]] # 인덱스 값 0,2 행 가져오기

  country  rank grade
0     kor     1     A
2   china     3     C

In [38]:
df.loc[0,'grade'] # 행과 열의 좌표

'A'

In [43]:
df.loc[0:2, ['country','grade']]

  country grade
0     kor     A
1     usa     B
2   china     C

In [47]:
df.loc[(df['grade'] == 'A') |(df['rank']>2)]

TypeError: Cannot perform 'ror_' with a dtyped [bool] array and scalar of type [bool]