### 판다를 사용방법 배우기

In [153]:
import pandas as pd

In [154]:
data = ["A","B","C","D"]
se = pd.Series(data)
se

0    A
1    B
2    C
3    D
dtype: object

In [155]:
se.index

RangeIndex(start=0, stop=4, step=1)

In [156]:
se.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [157]:
#인덱싱
print(se[1])
print(se[3])

B
D

In [158]:
#슬라이싱
print(se[:3])
print(se[:])

0    A
1    B
2    C
dtype: object
0    A
1    B
2    C
3    D
dtype: object

In [159]:
se.index.name ='No.'
se

No.
0    A
1    B
2    C
3    D
dtype: object

In [160]:
se = pd.Series(data, index = ['a','b','c','d'])
print(se)
print(se['a'])

a    A
b    B
c    C
d    D
dtype: object
A

### DataFrame

In [161]:
import numpy as np

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
column = ['D','E','F']

df = pd.DataFrame(data = data,index = ['A','B','C'],column = column)

TypeError: __init__() got an unexpected keyword argument 'column'

In [162]:
data = {
    'country' : ["kor", "usa",'china','japan'],
    'rank' : [1,2,3,4],
    'grade' : ['A','B','C','D']
    }

df =pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [163]:
df.country

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [164]:
print(df[['country','grade']])

  country grade
0     kor     A
1     usa     B
2   china     C
3   japan     D

### 행을 가져오기

In [165]:
df.loc[0]

country    kor
rank         1
grade        A
Name: 0, dtype: object

In [166]:
##2개 이상의 행 조회

df.loc[0:2]

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C

In [167]:
df.loc[[0,2]] # 인덱스 값 0,2 행 가져오기

  country  rank grade
0     kor     1     A
2   china     3     C

In [168]:
df.loc[0,'grade'] # 행과 열의 좌표

'A'

In [169]:
df.loc[0:2, ['country','grade']]

  country grade
0     kor     A
1     usa     B
2   china     C

In [170]:
df.loc[(df['grade'] == 'A') |(df['rank']>2)]

  country  rank grade
0     kor     1     A
2   china     3     C
3   japan     4     D

In [171]:
df[df['country' == 'kor'] or df['country' == 'usa']]

KeyError: False

In [233]:
df.loc[0:2] 
df.iloc[0:2]

0      명량
1    극한직업
Name: 영화, dtype: object

In [234]:
df.iloc[[3,0],[2,1]]

IndexingError: Too many indexers

### Filter

In [235]:
df.filter?

In [236]:
df.filter(like='c',axis=1) # 컬럼명에 c 가 포하미된 출력 / axis =0 으로 바꾸면 인덱스에서 검색

ValueError: No axis named 1 for object type Series

In [237]:
df.filter(like='r',axis=1) # 컬럼명에 r 가 포함된 출력

ValueError: No axis named 1 for object type Series

In [238]:
### (1) Series를 이용하여 열 테이터 추가

president = pd.Series(['yoon', 'biden', 'she','classified'], index = [0,1,2,3])
president

df['president'] = president
df

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_22344/1313774119.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['president'] = president

0                                                           명량
1                                                         극한직업
2                                                         신과함께
3                                                         국제시장
president    0          yoon
1         biden
2           sh...
Name: 영화, dtype: object

In [239]:
import numpy as np 

add = np.zeros(4).astype(int)
gdp = pd.Series(['yoon', 'biden', 'she','classified'], index = [0,1,2,3])

df['etc'] = add
df

0                                                           명량
1                                                         극한직업
2                                                         신과함께
3                                                         국제시장
president    0          yoon
1         biden
2           sh...
etc                                               [0, 0, 0, 0]
Name: 영화, dtype: object

In [240]:
## (3) 연산을 이용하여 행 데이터 추가
import numpy as pn

df['rank'] < 3
df['new_grade'] = df['rank'] < 3
df

KeyError: 'rank'

In [241]:
## (4) loc() 를 이용하여 행 데이터 추가
import numpy as np 

df.loc[7] = ['singapole',4,'D','jao',0,False]
df

0                                                           명량
1                                                         극한직업
2                                                         신과함께
3                                                         국제시장
president    0          yoon
1         biden
2           sh...
etc                                               [0, 0, 0, 0]
7                             [singapole, 4, D, jao, 0, False]
Name: 영화, dtype: object

In [242]:
df = df.reset_index()
df

       index                                                 영화
0          0                                                 명량
1          1                                               극한직업
2          2                                               신과함께
3          3                                               국제시장
4  president  0          yoon
1         biden
2           sh...
5        etc                                       [0, 0, 0, 0]
6          7                   [singapole, 4, D, jao, 0, False]

In [243]:
## (1) drop 
### 행 삭제
df = df.drop(index=4, )
df

  index                                영화
0     0                                명량
1     1                              극한직업
2     2                              신과함께
3     3                              국제시장
5   etc                      [0, 0, 0, 0]
6     7  [singapole, 4, D, jao, 0, False]

In [244]:
df.drop(index=7),inplace=True

SyntaxError: cannot assign to function call (CreatorTemp/ipykernel_22344/526473054.py, line 1)

In [245]:
df.drop?

In [246]:
del df['etc'] 
df

KeyError: 'etc'

### Pandas 퀴즈

In [247]:
import pandas as pd

data = {
    '영화' : ['명량','극한직업','신과함께','국제시장'],
    '개봉 연도' : [2014,2019,2017,2014],
    '관객 수' : [1123,334,4456,2245],
    '평점' : [10,8.8,5.5,9.8]
}

df = pd.DataFrame(data)
df

     영화  개봉 연도  관객 수    평점
0    명량   2014  1123  10.0
1  극한직업   2019   334   8.8
2  신과함께   2017  4456   5.5
3  국제시장   2014  2245   9.8

In [280]:
df.iloc[[0,1,2,3],[0]]
df['영화']
df.loc([1,2],'영화')

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [249]:
df.iloc[[0,1,2,3],[3]]

     평점
0  10.0
1   8.8
2   5.5
3   9.8

In [290]:
import pandas as pd



recommended_rate = pd.Series(['', '', '',''], index = [0,1,2,3])
df['추천점수'] = add
df

     영화  개봉 연도  관객 수    평점  추천점수  추천 점수
0    명량   2014  1123  10.0     0  112.0
1  극한직업   2019   334   8.8     0   29.0
2  신과함께   2017  4456   5.5     0  245.0
3  국제시장   2014  2245   9.8     0  220.0

In [292]:
df.sort_values("개봉 연도", ascending=False)

     영화  개봉 연도  관객 수    평점  추천점수  추천 점수
1  극한직업   2019   334   8.8     0   29.0
2  신과함께   2017  4456   5.5     0  245.0
0    명량   2014  1123  10.0     0  112.0
3  국제시장   2014  2245   9.8     0  220.0

In [261]:
df.sort_values(by="개봉 연도")

     영화  개봉 연도  관객 수    평점  추천점수
0    명량   2014  1123  10.0     0
3  국제시장   2014  2245   9.8     0
2  신과함께   2017  4456   5.5     0
1  극한직업   2019   334   8.8     0

In [288]:
df['추천 점수'] = (df["관객 수"] * df["평점"]) //100
df

     영화  개봉 연도  관객 수    평점  추천점수  추천 점수
0    명량   2014  1123  10.0     0  112.0
1  극한직업   2019   334   8.8     0   29.0
2  신과함께   2017  4456   5.5     0  245.0
3  국제시장   2014  2245   9.8     0  220.0

In [263]:
df.iloc[:,:]

     영화  개봉 연도  관객 수    평점  추천점수
0    명량   2014  1123  10.0     0
1  극한직업   2019   334   8.8     0
2  신과함께   2017  4456   5.5     0
3  국제시장   2014  2245   9.8     0

In [264]:
df2 = df.copy()
df2

     영화  개봉 연도  관객 수    평점  추천점수
0    명량   2014  1123  10.0     0
1  극한직업   2019   334   8.8     0
2  신과함께   2017  4456   5.5     0
3  국제시장   2014  2245   9.8     0

In [271]:
df.to_numpy()
df.groupby(['관객 수', '평점']).sum()


def

SyntaxError: invalid syntax (CreatorTemp/ipykernel_22344/3424869761.py, line 5)

df.to_numpy()
recommended_rate = pd.Series(['', '', '',''], index = [0,1,2,3])
df.recommend_rate.
df['추천점수'] = add

df

In [294]:



df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

        A  B    C         D         E
0     one  A  foo -0.917101  0.368544
1     one  B  foo  0.269879  0.639519
2     two  C  foo -0.460984 -1.243671
3   three  A  bar -0.346743  0.633764
4     one  B  bar  1.838928  1.275022
5     one  C  bar -0.100530  0.762303
6     two  A  foo -0.507309  1.475933
7   three  B  foo -1.394873  0.642004
8     one  C  foo  1.112346  0.487457
9     one  A  bar -0.831997  0.690809
10    two  B  bar  0.388701 -0.161500
11  three  C  bar -0.568787  1.306754

In [295]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

C             bar       foo
A     B
one   A -0.831997 -0.917101
      B  1.838928  0.269879
      C -0.100530  1.112346
three A -0.346743       NaN
      B       NaN -1.394873
      C -0.568787       NaN
two   A       NaN -0.507309
      B  0.388701       NaN
      C       NaN -0.460984

In [300]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample("5Min").sum()

2012-01-01    26707
Freq: 5T, dtype: int32

In [301]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

C             bar       foo
A     B
one   A -0.831997 -0.917101
      B  1.838928  0.269879
      C -0.100530  1.112346
three A -0.346743       NaN
      B       NaN -1.394873
      C -0.568787       NaN
two   A       NaN -0.507309
      B  0.388701       NaN
      C       NaN -0.460984

In [302]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")

In [303]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [304]:
ts

2012-03-06    0.751831
2012-03-07   -0.353357
2012-03-08   -0.627015
2012-03-09    0.081423
2012-03-10   -1.994605
Freq: D, dtype: float64

In [305]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-06 00:00:00+00:00    0.751831
2012-03-07 00:00:00+00:00   -0.353357
2012-03-08 00:00:00+00:00   -0.627015
2012-03-09 00:00:00+00:00    0.081423
2012-03-10 00:00:00+00:00   -1.994605
Freq: D, dtype: float64

In [309]:
ts_utc.tz_convert("US/Eastern")
rng = pd.date_range("1/1/2012", periods=5, freq="M")
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31   -1.116709
2012-02-29   -1.446978
2012-03-31    0.611169
2012-04-30   -2.350195
2012-05-31    1.528802
Freq: M, dtype: float64

In [310]:
ps = ts.to_period()
ps

2012-01   -1.116709
2012-02   -1.446978
2012-03    0.611169
2012-04   -2.350195
2012-05    1.528802
Freq: M, dtype: float64

In [311]:
ps.to_timestamp()

2012-01-01   -1.116709
2012-02-01   -1.446978
2012-03-01    0.611169
2012-04-01   -2.350195
2012-05-01    1.528802
Freq: MS, dtype: float64

In [313]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq("M", "e") + 1).asfreq("H", "s") + 9
ts.head()

1990-03-01 09:00    0.511701
1990-06-01 09:00    0.220589
1990-09-01 09:00   -0.276069
1990-12-01 09:00   -0.655020
1991-03-01 09:00   -0.479860
Freq: H, dtype: float64

In [316]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e